ansible-core>=2.18
ansible-lint>=25.6.1
netaddr>=1.3.0
Jinja2>=3.1.6
treelib>=1.7.0
cvprac>=1.4.1
paramiko>=3.5.1
pynetbox
jsonschema>=4.22.0
requests>=2.32.4
PyYAML>=6.0.2
md-toc>=9.0.0
deepmerge>=2.0
cryptography>=45.0.5
aristaproto>=0.1.4
anta